.list-container {
  display: flex;
  flex-direction: column;

  width: 740px;
  height: 500px;
  margin-top: 48px;
  padding: 0 18px;
}

.reset-button {
  padding-top: 12px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
  background: none;
  border: none;
  color: #f8f78b;
}

.select-input {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;

  border: 0;
  border-radius: 6px;
  outline: none;
  background: #2e2d33;
  color: #f0f8ff;
  font-family: "Poppins", sans-serif;
  filter: drop-shadow(0px 2px 12px #00000026);

  /* Arrow Padding Problem */
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../assets/white-arrow.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: calc(100% - 20px);
}
