.list-container {
  display: flex;
  flex-direction: column;

  width: 740px;
  height: 500px;
  margin-top: 48px;
}

.reset-button {
  padding-top: 12px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
  background: none;
  border: none;
  color: #f8f78b;
}
